<!-- ======= Header ======= -->
<div class="header">

    <div class="header-left">
        <div>
            <a asp-action="Index" asp-controller="Home" asp-area="" class="logo">
                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="25" viewBox="0 0 27 25" fill="none">
                    <g clip-path="url(#clip0_374_1835)">
                        <path d="M12.1754 21.359C9.01108 17.9613 8.17716 15.3757 8.31697 9.58165H2.89158C1.57075 9.58165 0.5 8.50919 0.5 7.18624C0.5 5.86329 1.57075 4.79084 2.89158 4.79084H8.31697V1.13663C8.31697 0.690968 8.82577 0.465187 9.14729 0.773284C9.53424 1.14409 10.073 1.66992 10.7974 2.39542C12.634 4.23497 13.2778 4.79084 13.2778 4.79084H16.1111C18.7529 4.79084 20.8942 6.93575 20.8942 9.58165H13.2778V11.3971C13.2778 12.1152 13.3289 12.8358 13.4797 13.5378C14.0942 16.3976 15.1027 18.0361 17.3162 19.0688C19.5277 20.1004 22.0954 19.6241 24.3566 18.7068L26.0025 18.0389C26.1315 17.9865 26.2663 18.1 26.2371 18.2363L24.9532 24.2036C18.9642 25.3962 16.2239 24.6412 12.1754 21.359Z" fill="url(#paint0_linear_374_1835)" />
                        <path d="M26.0868 17.8927L16.8716 24.1799C19.9702 25.0946 21.7503 25.2601 25.0151 24.3169L26.3539 18.0728C26.3866 17.9195 26.2161 17.8045 26.0868 17.8927Z" fill="url(#paint1_linear_374_1835)" />
                    </g>
                    <defs>
                        <linearGradient id="paint0_linear_374_1835" x1="6.46591" y1="3.19619" x2="25.2303" y2="24.706" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#45A4FF" />
                            <stop offset="1" stop-color="#0082FF" stop-opacity="0" />
                        </linearGradient>
                        <linearGradient id="paint1_linear_374_1835" x1="20.8126" y1="24.4679" x2="28.9502" y2="16.7175" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#44A3FF" />
                            <stop offset="1" stop-color="#44A3FF" stop-opacity="0" />
                        </linearGradient>
                        <clipPath id="clip0_374_1835">
                            <rect width="26" height="25" fill="white" transform="translate(0.5)" />
                        </clipPath>
                    </defs>
                </svg>
                <div class="ps-1 d-none d-lg-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="117" height="19" viewBox="0 0 117 19" fill="none">
                        <g clip-path="url(#clip0_374_1838)">
                            <path d="M2.97402 14.4159C1.60765 14.4159 0.5 13.3088 0.5 11.9431V1.2364C0.5 0.553556 1.05383 0 1.73701 0C2.42019 0 2.97402 0.553556 2.97402 1.2364V14.4159Z" fill="#051336" />
                            <path d="M13.65 14.6568C12.8291 14.6568 12.1636 13.9916 12.1636 13.171C11.4719 14.1615 10.4544 14.6568 9.11094 14.6568C8.06015 14.6568 7.22884 14.3355 6.61698 13.6931C6.00514 13.0372 5.69922 12.1605 5.69922 11.0629V5.61336C5.69922 4.9305 6.25304 4.37695 6.93621 4.37695C7.6194 4.37695 8.17322 4.9305 8.17322 5.61336V10.7617C8.17322 11.9396 8.71857 12.5286 9.80925 12.5286C10.3014 12.5286 10.7603 12.3947 11.1859 12.127C11.6249 11.8459 11.9507 11.4778 12.1636 11.0227V5.61336C12.1636 4.93052 12.7174 4.37695 13.4006 4.37695C14.0838 4.37695 14.6376 4.93052 14.6376 5.61336V14.6568H13.65Z" fill="#051336" />
                            <path d="M24.5638 4.37695C25.3903 4.37695 25.9649 5.19898 25.6804 5.97468L21.2652 18.0127C21.0934 18.4813 20.6471 18.7928 20.1478 18.7928C19.3154 18.7928 18.7401 17.9607 19.0346 17.1825L20.0813 14.4159L16.9609 5.97464C16.6744 5.19987 17.248 4.37695 18.0743 4.37695C18.5824 4.37695 19.0342 4.70019 19.198 5.18096L21.3183 11.4042L23.4382 5.1824C23.6021 4.70077 24.0547 4.37695 24.5638 4.37695Z" fill="#051336" />
                            <path d="M36.4129 9.39646C36.4129 9.64585 36.4133 9.82558 36.414 9.95374C36.415 10.1784 36.2399 10.1996 36.0152 10.1996H29.7268C29.7933 10.9224 30.0525 11.4846 30.5049 11.8861C30.957 12.2877 31.5223 12.4884 32.2008 12.4884C32.7696 12.4884 33.3558 12.1837 33.8335 11.7754C34.3545 11.3301 35.1673 11.169 35.6955 11.6057C36.1083 11.9471 36.2206 12.546 35.8994 12.9746C35.5629 13.4236 35.1542 13.8492 34.6748 14.0947C33.9166 14.4695 33.0919 14.6568 32.2008 14.6568C30.7244 14.6568 29.514 14.1884 28.5696 13.2514C27.6384 12.3144 27.1729 11.0295 27.1729 9.39646C27.1729 7.80363 27.6185 6.53201 28.5098 5.58167C29.4142 4.61794 30.558 4.13605 31.9414 4.13605C33.3513 4.13605 34.5111 4.46399 35.4153 5.68876C36.3196 6.9135 36.4129 8.03116 36.4129 9.39646ZM29.7467 8.35241H34.1361C34.0562 7.69654 33.8235 7.1879 33.4377 6.82651C33.0521 6.45172 32.5531 6.26431 31.9414 6.26431C31.3296 6.26431 30.8306 6.45172 30.445 6.82651C30.0592 7.1879 29.8266 7.69654 29.7467 8.35241Z" fill="#051336" />
                            <path d="M40.0335 4.377C40.7165 4.377 41.2704 4.93897 41.2704 5.62183C41.9621 4.63132 42.9797 4.13605 44.3231 4.13605C45.3738 4.13605 46.2051 4.46399 46.817 5.11988C47.4288 5.76236 47.7349 6.63241 47.7349 7.72998V13.1795C47.7349 13.8624 47.181 14.4159 46.4978 14.4159C45.8145 14.4159 45.2609 13.8624 45.2609 13.1795V8.47435C45.2609 7.29644 45.0455 6.38478 43.9548 6.38478C43.4627 6.38478 42.7451 6.59825 42.2922 7.05406C41.8394 7.50984 41.2946 8.3108 41.2946 9.06184C41.2946 9.56126 41.284 11.764 41.2767 13.1838C41.2732 13.8659 40.7191 14.4159 40.0367 14.4159C39.3518 14.4159 38.7964 13.8609 38.7964 13.1763V5.61341C38.7964 4.93055 39.3503 4.377 40.0335 4.377Z" fill="#051336" />
                            <path d="M53.3818 6.46507V10.7416C53.3818 11.344 53.5015 11.779 53.7411 12.0467C53.9804 12.301 54.0312 12.456 54.938 12.4282C55.6887 12.4052 56.0239 11.6874 56.2604 11.3876C56.3304 11.2988 56.4484 11.3188 56.5253 11.4018C56.6167 11.5001 56.6849 11.6171 56.7139 11.748C56.8055 12.161 56.9474 13.1279 56.4479 13.7102C55.7999 14.4659 55.3044 14.5739 54.2878 14.5739C53.2712 14.5739 52.2845 14.262 51.7259 13.673C51.1804 13.084 50.9078 12.1404 50.9078 10.842V6.46507H48.7099C48.4714 6.46507 48.2778 6.27172 48.2778 6.03325V4.80879C48.2778 4.5703 48.4714 4.37697 48.7099 4.37697H50.9078V1.79711C50.9078 1.55863 51.1014 1.3653 51.3398 1.3653H52.9498C53.1885 1.3653 53.3818 1.55863 53.3818 1.79711V4.37697H55.5435C55.7822 4.37697 55.9755 4.5703 55.9755 4.80879V6.03325C55.9755 6.27172 55.7822 6.46507 55.5435 6.46507H53.3818Z" fill="#1C8FFD" />
                            <path d="M60.6357 11.7054C61.0615 12.2542 61.6333 12.5286 62.3515 12.5286C63.0698 12.5286 63.6418 12.2542 64.0675 11.7054C64.4931 11.1432 64.7059 10.3736 64.7059 9.39646C64.7059 8.41934 64.4931 7.65638 64.0675 7.10758C63.6418 6.5454 63.0698 6.26431 62.3515 6.26431C61.6333 6.26431 61.0615 6.5454 60.6357 7.10758C60.2102 7.65638 59.9974 8.41934 59.9974 9.39646C59.9974 10.3736 60.2102 11.1432 60.6357 11.7054ZM58.8402 5.58167C59.7446 4.61794 60.915 4.13605 62.3515 4.13605C63.7882 4.13605 64.9586 4.61794 65.863 5.58167C66.7675 6.53201 67.2198 7.80363 67.2198 9.39646C67.2198 10.9893 66.7675 12.2676 65.863 13.2313C64.9586 14.1817 63.7882 14.6568 62.3515 14.6568C60.915 14.6568 59.7446 14.1817 58.8402 13.2313C57.9355 12.2676 57.4834 10.9893 57.4834 9.39646C57.4834 7.80363 57.9355 6.53201 58.8402 5.58167Z" fill="#1C8FFD" />
                            <path d="M71.7538 7.02651C71.6114 7.19682 71.3775 7.28137 71.1738 7.19321L69.8256 6.60996C69.5949 6.51012 69.4962 6.23343 69.639 6.02668C69.9857 5.52551 70.4506 5.10945 71.034 4.77855C71.7657 4.35021 72.5902 4.13605 73.508 4.13605C74.7983 4.13605 75.8157 4.4573 76.5608 5.0998C77.3188 5.74228 77.6979 6.62572 77.6979 7.75006V13.4205C77.6979 14.1033 77.144 14.6568 76.461 14.6568C75.7777 14.6568 75.2239 14.1033 75.2239 13.4205V13.392C74.9711 13.7801 74.5855 14.088 74.0667 14.3155C73.5612 14.5431 73.0093 14.6568 72.4107 14.6568C71.4131 14.6568 70.5884 14.3691 69.9367 13.7935C69.285 13.2179 68.959 12.4617 68.959 11.5247C68.959 10.5208 69.2916 9.73107 69.9565 9.15552C70.635 8.57995 71.5661 8.29217 72.7498 8.29217C73.8139 8.29217 74.6387 8.37249 75.2239 8.5331V7.75006C75.2239 7.2682 75.0642 6.89342 74.7452 6.62572C74.4391 6.35801 74.0267 6.22415 73.508 6.22415C73.0825 6.22415 72.69 6.33124 72.331 6.5454C72.1042 6.67702 71.9119 6.83737 71.7538 7.02651ZM75.2239 11.344V10.4204C74.6786 10.3 73.9936 10.2397 73.1689 10.2397C72.0383 10.2397 71.473 10.6346 71.473 11.4243C71.473 11.7991 71.6192 12.0869 71.9119 12.2877C72.2046 12.475 72.5837 12.5688 73.0492 12.5688C73.5413 12.5688 73.9936 12.455 74.4058 12.2274C74.8182 11.9999 75.0908 11.7054 75.2239 11.344Z" fill="#1C8FFD" />
                            <path d="M94.5274 14.1749C94.2481 14.456 93.8955 14.5966 93.47 14.5966C93.0444 14.5966 92.6852 14.456 92.3925 14.1749C92.1132 13.8805 91.9736 13.5191 91.9736 13.0907C91.9736 12.6624 92.1132 12.3077 92.3925 12.0266C92.6852 11.7322 93.0444 11.5849 93.47 11.5849C93.8955 11.5849 94.2481 11.7322 94.5274 12.0266C94.8201 12.3077 94.9663 12.6624 94.9663 13.0907C94.9663 13.5191 94.8201 13.8805 94.5274 14.1749Z" fill="#051336" />
                            <path d="M102.828 13.1622C102.548 13.9158 101.828 14.4159 101.024 14.4159C100.202 14.4159 99.4714 13.8945 99.2042 13.1178L96.7473 5.97665C96.4777 5.19294 97.0603 4.37695 97.8895 4.37695C98.4049 4.37695 98.8636 4.70388 99.0314 5.19095L101.145 11.3239L103.264 5.17698C103.428 4.69827 103.879 4.37695 104.386 4.37695C105.213 4.37695 105.787 5.20147 105.498 5.97656L102.828 13.1622Z" fill="#051336" />
                            <path d="M81.3201 4.377C82.0032 4.377 82.557 4.93433 82.557 5.62183C83.2487 4.63132 84.2661 4.13605 85.6095 4.13605C86.6604 4.13605 87.4917 4.46399 88.1036 5.11988C88.7154 5.76236 89.0213 6.63241 89.0213 7.72998V13.1711C89.0213 13.8586 88.4676 14.4159 87.7844 14.4159C87.1011 14.4159 86.5473 13.8586 86.5473 13.1711V8.47435C86.5473 7.29644 86.3321 6.38478 85.2414 6.38478C84.7494 6.38478 84.0318 6.59825 83.5788 7.05406C83.1258 7.50984 82.5812 8.3108 82.5812 9.06184C82.5812 9.56024 82.5706 11.7552 82.5633 13.1754C82.5598 13.8621 82.0058 14.4159 81.3234 14.4159C80.6384 14.4159 80.083 13.8571 80.083 13.1678V5.62183C80.083 4.93433 80.6369 4.377 81.3201 4.377Z" fill="#1C8FFD" />
                            <path d="M108.745 4.377C109.428 4.377 109.982 4.93433 109.982 5.62183C110.674 4.63132 111.691 4.13605 113.034 4.13605C114.085 4.13605 114.916 4.46399 115.528 5.11988C116.14 5.76236 116.446 6.63241 116.446 7.72998V13.1711C116.446 13.8586 115.892 14.4159 115.209 14.4159C114.526 14.4159 113.972 13.8586 113.972 13.1711V8.47435C113.972 7.29644 113.757 6.38478 112.666 6.38478C112.174 6.38478 111.457 6.59825 111.004 7.05406C110.551 7.50984 110.006 8.3108 110.006 9.06184C110.006 9.56024 109.995 11.7552 109.988 13.1754C109.985 13.8621 109.431 14.4159 108.748 14.4159C108.063 14.4159 107.508 13.8571 107.508 13.1678V5.62183C107.508 4.93433 108.062 4.377 108.745 4.377Z" fill="#051336" />
                        </g>
                        <defs>
                            <clipPath id="clip0_374_1838">
                                <rect width="116" height="19" fill="white" transform="translate(0.5)" />
                            </clipPath>
                        </defs>
                    </svg>
                </div>
            </a>
        </div>
        <a href="index.html" class="logo logo-small">
            <img src="~/AdminLayout/images/logo/logo.png" alt="Logo" width="30" height="30">
        </a>
    </div>

    <div class="menu-toggle">
        <a href="javascript:void(0);" id="toggle_btn">
            <i class="fas fa-bars"></i>
        </a>
    </div>

    <div class="top-nav-search">
        <form asp-action="">
            <input type="text" class="form-control" placeholder="Search here">
            <button class="btn" id="search" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>

    <a class="mobile_btn" id="mobile_btn">
        <i class="fas fa-bars"></i>
    </a>

    <ul class="nav user-menu">
        <li class="nav-item dropdown noti-dropdown language-drop me-2">
            <a href="#" class="dropdown-toggle nav-link header-nav-list" data-bs-toggle="dropdown">
                <img src="~/AdminLayout/images/icons/header-icon-01.svg" alt="">
            </a>
            <div class="dropdown-menu ">
                <div class="noti-content">
                    <div>
                        <a class="dropdown-item" href="javascript:;">
                            <i class="flag flag-lr me-2"></i>English
                        </a>
                        <a class="dropdown-item" href="javascript:;">
                            <i class="flag flag-bl me-2"></i>Francais
                        </a>
                        <a class="dropdown-item" href="javascript:;"><i class="flag flag-cn me-2"></i>Turkce</a>
                    </div>
                </div>
            </div>
        </li>

        <partial name="_Notification" />

        <li class="nav-item zoom-screen me-2">
            <a href="#" class="nav-link header-nav-list win-maximize">
                <img src="~/AdminLayout/images/icons/header-icon-04.svg" alt="">
            </a>
        </li>

        <partial name="_LoginPartial" />
    </ul>

</div><!-- End Header -->