<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Main Menu</span>
                </li>
                <li class="submenu active">
                    <a href="#">
                        <i class="fas fa-th-large"></i> <span>
                            Dashboard
                        </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul style="display: block;">
                        <li><a asp-action="Index" asp-controller="Home" asp-area="Admin" class="active">Admin Dashboard</a></li>
                    </ul>
                </li>
                <li class="menu-title">
                    <span>Management</span>
                </li>
                <li class="submenu">
                    <a href="#">
                        <i class="fas fa-file-invoice-dollar"></i> <span> Quản lí câu chuyện</span> <span class="menu-arrow"></span>
                    </a>
                    <ul>
                        <li>
                            <a asp-area="Admin" asp-action="Index" asp-controller="Blog"><i class="fas fa-table"></i> <span>Danh sách câu chuyện</span></a>
                        </li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#">
                        <i class="fas fa-file-invoice-dollar"></i> <span> Accounts</span> <span class="menu-arrow"></span>
                    </a>
                    <ul>
                        <li><a asp-area="Admin" asp-controller="Account" asp-action="Index">Quản lý phân quyền</a></li>
                        <li><a asp-area="Admin">Quản lý tài khoản</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#">
                        <i class="fas fa-file-invoice-dollar"></i> <span> Quản lý địa chỉ</span> <span class="menu-arrow"></span>
                    </a>
                    <ul>
                        <li><a asp-area="Admin" asp-controller="Country" asp-action="Index">Quản lý quốc gia</a></li>
                        <li><a asp-area="Admin" asp-controller="Province" asp-action="Index">Quản lý tỉnh/thành phố</a></li>
                        <li><a asp-area="Admin" asp-controller="District" asp-action="Index">Quản lý quận/huyện</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#">
                        <i class="fas fa-file-invoice-dollar"></i> <span> Quản lý chi nhánh</span> <span class="menu-arrow"></span>
                    </a>
                    <ul>
                        <li><a asp-area="Admin" asp-controller="Branch" asp-action="Index">Quản lý chi nhánh</a></li>
                        <li><a asp-area="Admin" asp-controller="Product" asp-action="Index">Quản lý sản phẩm</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#">
                        <i class="fas fa-file-invoice-dollar"></i> <span> Quản lý khuyến mãi</span> <span class="menu-arrow"></span>
                    </a>
                    <ul>
                        <li><a asp-area="Admin" asp-controller="Voucher" asp-action="Index">Quản lý voucher</a></li>
                        <li><a asp-area="Admin" asp-controller="VoucherUser" asp-action="Index">Quản lý voucher người dùng</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
