@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using TiemKiet.Helpers;
@using TiemKiet.Models.ViewModel
@{
    var locationUser = HttpContextAccessor.HttpContext!.Session.GetObjectFromJson<LocationUser>(Constants.LocationUser) ?? new LocationUser();
    var cart = HttpContextAccessor.HttpContext!.Session.GetObjectFromJson<ICollection<CartItem>>(Constants.UserCart) ?? new List<CartItem>();
}
<div class="offcanvas offcanvas-end" tabindex="-1" data-bs-scroll="true" id="offcanvasCart" aria-labelledby="offcanvasCartLabel">
    <div class="d-flex flex-column h-100">
        <div class="offcanvas-header align-items-center">
            <div class="col-10 text-center">
                <h5 id="offcanvasCartLabel" class="font-inter">Giỏ hàng</h5>
                <p><span class="me-2"><i class="far fa-clock"></i></span> Địa điểm của bạn: @(locationUser.AddreasUserName ?? "Không có địa chỉ")</p>
            </div>
            <div class="col-2 text-end">
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
        </div>
        <div class="container d-flex flex-column h-100" id="previewCartData">
            <div class="offcanvas-body font-inter">
                <div class="overflow-scroll h-100">
                    <h5>Danh sách giỏ hàng</h5>
                    <div class="container">
                        <div class="row justify-content-center gy-3">
                            <div class="col-12">
                                <h1>Giỏ hàng rỗng</h1>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row mt-auto py-3 container">
                <div class="col-6">
                    <h5>Tổng cộng:</h5>
                </div>
                <div class="col-6">
                    <p class="text-price text-end font-weight-600">0</p>
                </div>
                <div class="col-12">
                    <a asp-action="Index" asp-controller="Cart" class="btn btn-primary w-100 font-monospace font-weight-600 mt-3">Xem lại đơn hàng</a>
                </div>
            </div>
        </div>
    </div>
</div>