<div class="offcanvas offcanvas-end" tabindex="-1" data-bs-scroll="true" id="offcanvasCart" aria-labelledby="offcanvasCartLabel">
    <div class="ps-5 h-100">
        <div class="offcanvas-header">
            <h5 id="offcanvasCartLabel">Giỏ hàng</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-flex flex-column">
            <div class="d-flex align-items-start flex-column" style="min-height: 60vh;">
                <ul class="d-flex flex-wrap w-100 py-2 gap-3 overflow-scroll" style="max-height: 50vh;">
                    <li class="d-flex align-items-center justify-content-center">
                        <a class="header-cart-item-img">
                            <img src="~/images/Product/test.png" alt="IMG">
                        </a>
                        <div class="header-cart-item-txt pt-2">
                            <a href="#" class="header-cart-item-name mb-2 trans-04">
                                Cà phê muối
                            </a>
                            <span class="header-cart-item-info">
                                1 x 25,000đ
                            </span>
                        </div>
                    </li>
                    <li class="d-flex align-items-center justify-content-center">
                        <a class="header-cart-item-img">
                            <img src="~/images/Product/test.png" alt="IMG">
                        </a>
                        <div class="header-cart-item-txt pt-2">
                            <a href="#" class="header-cart-item-name mb-2 trans-04">
                                Cà phê muối
                            </a>
                            <span class="header-cart-item-info">
                                1 x 25,000đ
                            </span>
                        </div>
                    </li>
                    <li class="d-flex align-items-center justify-content-center">
                        <a class="header-cart-item-img">
                            <img src="~/images/Product/test.png" alt="IMG">
                        </a>
                        <div class="header-cart-item-txt pt-2">
                            <a href="#" class="header-cart-item-name mb-2 trans-04">
                                Cà phê muối
                            </a>
                            <span class="header-cart-item-info">
                                1 x 25,000đ
                            </span>
                        </div>
                    </li>
                    <li class="d-flex align-items-center justify-content-center">
                        <a class="header-cart-item-img">
                            <img src="~/images/Product/test.png" alt="IMG">
                        </a>
                        <div class="header-cart-item-txt pt-2">
                            <a href="#" class="header-cart-item-name mb-2 trans-04">
                                Cà phê muối
                            </a>
                            <span class="header-cart-item-info">
                                1 x 25,000đ
                            </span>
                        </div>
                    </li>
                    <li class="d-flex align-items-center justify-content-center">
                        <a class="header-cart-item-img">
                            <img src="~/images/Product/test.png" alt="IMG">
                        </a>
                        <div class="header-cart-item-txt pt-2">
                            <a href="#" class="header-cart-item-name mb-2 trans-04">
                                Cà phê muối
                            </a>
                            <span class="header-cart-item-info">
                                1 x 25,000đ
                            </span>
                        </div>
                    </li>
                    <li class="d-flex align-items-center justify-content-center">
                        <a class="header-cart-item-img">
                            <img src="~/images/Product/test.png" alt="IMG">
                        </a>
                        <div class="header-cart-item-txt pt-2">
                            <a href="#" class="header-cart-item-name mb-2 trans-04">
                                Cà phê muối
                            </a>
                            <span class="header-cart-item-info">
                                1 x 25,000đ
                            </span>
                        </div>
                    </li>
                    <li class="d-flex align-items-center justify-content-center">
                        <a class="header-cart-item-img">
                            <img src="~/images/Product/test.png" alt="IMG">
                        </a>
                        <div class="header-cart-item-txt pt-2">
                            <a href="#" class="header-cart-item-name mb-2 trans-04">
                                Cà phê muối
                            </a>
                            <span class="header-cart-item-info">
                                1 x 25,000đ
                            </span>
                        </div>
                    </li>
                    <li class="d-flex align-items-center justify-content-center">
                        <a class="header-cart-item-img">
                            <img src="~/images/Product/test.png" alt="IMG">
                        </a>
                        <div class="header-cart-item-txt pt-2">
                            <a href="#" class="header-cart-item-name mb-2 trans-04">
                                Cà phê muối
                            </a>
                            <span class="header-cart-item-info">
                                1 x 25,000đ
                            </span>
                        </div>
                    </li>
                </ul>
                <div class="w-100 mt-auto">
                    <h5>Tổng cộng: 1,125,000đ</h5>
                    <div class="d-flex flex-wrap gap-3 mt-3">
                        <a href="" class="btn btn-primary font-monospace text-uppercase font-weight-600">XEM GIỎ HÀNG</a>
                        <a href="" class="btn btn-primary font-monospace text-uppercase font-weight-600">THANH TOÁN</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>