<!DOCTYPE html>
<html lang="en">
<head>
    @{
        await Html.RenderPartialAsync("_Meta");
        await Html.RenderPartialAsync("_Style");
    }
</head>
<body>
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    @{
        await Html.RenderPartialAsync("_Header");
    }
    <main id="main">
        @RenderBody()
    </main>
    @{
        await Html.RenderPartialAsync("_Footer");
    }
    <div id="scroll-Top">
        <div class="return-to-top" style="display: block;">
          <i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title=""
            data-original-title="Back to Top" aria-hidden="true"></i>
        </div>
    </div>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
