@{
    ViewData["Title"] = "CHÍNH SÁCH BẢO MẬT";
}
<main id="main">
        <section id="header-title">
            <div class="container-fluid page-header text-center" style="padding: 10rem 0;">
                <div class="container py-5" data-aos="fade-up"
                data-aos-duration="3000">
                    <h1 class="display-3 text-white mb-3 fw-bold">CHÍNH SÁCH BẢO MẬT</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item"><a class="text-white" asp-action="Index" asp-controller="Home">Trang chủ</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">@ViewData["Title"] </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <section id="blog" class="section blog">
            <div class="container">
                <h1 class="mb-3">@ViewData["Title"]</h1>
                <div class="px-4 detail-cms">
                    <p style="font-weight: 400;"><strong>CHÍNH SÁCH BẢO MẬT THÔNG TIN</strong></p>
                    <p style="font-weight: 400;"><em>Cập nhật ngày 07/01/2024</em></p>
                    <p style="font-weight: 400;">Tiệm Kiết mong muốn đem lại một tiện ích mua hàng trực tuyến tin cậy,
                        tiết kiệm và thấu hiểu người dùng.<br>Chúng tôi nhận thấy khách hàng sử dụng sàn giao dịch
                        thương mại điện tử để mua sắm nhưng không phải ai cũng mong muốn chia sẻ thông tin cá nhân của
                        mình. Chúng tôi, cửa hàng Tiệm Kiết, tôn trọng quyền riêng tư của khách hàng và cam kết bảo
                        mật thông tin cá nhân của khách hàng khi khách hàng tin vào chúng tôi cung cấp thông tin cá nhân
                        của khách hàng cho chúng tôi khi mua sắm Tiệm Kiết. Đây là nguyên tắc khi tiếp cận quyền riêng
                        tư, thông tin cá nhân tại Tiệm Kiết.</p>
                    <p style="font-weight: 400;"><em>Chính Sách Bảo Mật Thông Tin Cá Nhân này bao gồm các nội dung:</em>
                    </p>
                    <p style="font-weight: 400;"><em>1. Sự Chấp Thuận<br>2. Mục Đích Thu Thập<br>3. Phạm Vi Thu
                            Thập<br>4. Thời Gian Lưu Trữ<br>5. Không Chia Sẻ Thông Tin Cá Nhân Khách Hàng<br>6. An Toàn
                            Dữ Liệu<br>7. Quyền Của Khách Hàng Đối Với Thông Tin Cá Nhân<br>8. Thông Tin Liên Hệ<br>9.
                            Đơn Vị Thu Thập và Quản Lý Thông Tin<br>10. Hiệu Lực</em></p>
                    <p><strong>1. Sự Chấp Thuận</strong></p>
                    <p style="font-weight: 400;">Bằng việc trao cho chúng tôi thông tin cá nhân của bạn, sử dụng sàn
                        giao dịch thương mại điện tử TNI Tiệm Kiết bạn đồng ý thông tin cá nhân của bạn sẽ được thu
                        thập, sử dụng như được nêu trong Chính Sách này. Nếu bạn không đồng ý với Chính Sách này, bạn
                        dừng cung cấp cho chúng tôi bất cứ thông tin cá nhân nào và/hoặc sử dụng các quyền như được nêu
                        tại Mục 7 dưới đây.<br>Chúng tôi bảo lưu quyền sửa đổi, bổ sung nhằm hoàn thiện đối với Chính
                        Sách này vào bất kỳ thời điểm nào. Chúng tôi khuyến khích bạn<br>thường xuyên xem lại Chính Sách
                        Bảo Mật Thông Tin Cá Nhân này để có được những cập nhật mới nhất đảm bảo bạn biết và thực hiện
                        quyền<br>quản lý thông tin cá nhân của bạn.</p>
                    <p><strong>2. Mục Đích Thu Thập</strong></p>
                    <p style="font-weight: 400;">Chúng tôi thu thập thông tin cá nhân chỉ cần thiết nhằm phục vụ cho các
                        mục đích:</p>
                    <ul>
                        <li>Đơn Hàng: để xử lý các vấn đề liên quan đến đơn đặt hàng của bạn.</li>
                        <li>Duy Trì Tài Khoản: để tạo và duy trình tài khoản của bạn với chúng tôi, bao gồm cả các
                            chương trình khách hàng thân thiết hoặc các<br>chương trình thưởng đi kèm với tài khoản của
                            bạn.</li>
                        <li>Dịch Vụ Người Tiêu Dùng, Dịch Vụ Chăm Sóc Khách Hàng: bao gồm các phản hồi cho các yêu cầu,
                            khiếu nại và phản hồi của bạn.</li>
                        <li>Cá Nhân Hóa: Chúng tôi có thể tổ hợp dữ liệu được thu thập để có một cái nhìn hoàn chỉnh hơn
                            về một người tiêu dùng và từ đó cho phép chúng tôi phục vụ tốt hơn với sự cá nhân hóa mạnh
                            hơn ở các khía cạnh, bao gồm nhưng không giới hạn: (i) để cải thiện và cá nhân hóa trải
                            nghiệm của bạn trên sàn giao dịch thương mại điện tử Tiệm Kiết (ii) để cải thiện các tiện
                            ích, dịch vụ, điều chỉnh chúng phù hợp với các nhu cầu được cá thể hóa và đi đến những ý
                            tưởng dịch vụ mới (iii) để phục vụ bạn với những giới thiệu, quảng cáo được điều chỉnh phù
                            hợp với sự quan tâm của bạn.</li>
                        <li>An Ninh: cho các mục đích ngăn ngừa các hoạt động phá hủy tài khoản người dùng của khách
                            hàng hoặc các hoạt động giả mạo khách hàng.</li>
                        <li>Theo yêu cầu của pháp luật: tùy quy định của pháp luật vào từng thời điểm, chúng tôi có thể
                            thu thập, lưu trữ và cung cấp theo yêu cầu của cơ quan nhà nước có thẩm quyền.</li>
                    </ul>
                    <p><strong>3. Phạm Vi Thu </strong><strong>Thập</strong></p>
                    <ul>
                        <li>Bạn trực tiếp cung cấp cho chúng tôi. Đó là các thông tin cá nhân bạn cung cấp cho chúng tôi
                            được thực hiện chủ yếu trên sàn giao dịch thương mại điện tử Tiệm Kiết bao gồm:<br>họ tên,
                            địa chỉ thư điện tử (email), số điện thoại, địa chỉ, thông tin đăng nhập tài khoản bao gồm
                            thông tin bất kỳ cần thiết để thiết lập tài khoản ví dụ như tên đăng nhập, mật khẩu đăng
                            nhập, ID/địa chỉ<br>đăng nhập và câu hỏi/trả lời bảo mật.</li>
                        <li>Bạn tương tác với chúng tôi.<br>Chúng tôi sử dụng cookies và công nghệ theo dấu khác để thu
                            thập một số thông tin khi bạn tương tác trên sàn giao dịch thương mại điện tử Tiệm Kiết
                        </li>
                        <li>Từ những nguồn hợp pháp khác.<br>Chúng tôi có thể sẽ thu thập thông tin cá nhân từ các nguồn
                            hợp pháp&nbsp; khác.</li>
                    </ul>
                    <p><strong>4.</strong> <strong>Thời gian lưu trữ</strong></p>
                    <p style="font-weight: 400;">Thông tin cá nhân của khách hàng sẽ được lưu trữ cho đến khi khách hàng
                        có yêu cầu hủy bỏ hoặc khách hàng tự đăng nhập và thực hiện hủy<br>bỏ. Trong mọi trường hợp
                        thông tin cá nhân của khách hàng sẽ được bảo mật trên máy chủ của Tiệm Kiết.</p>
                    <p style="font-weight: 400;"><strong>5.</strong> <strong>Không Chia Sẻ Thông Tin Cá Nhân Khách
                            Hàng</strong></p>
                    <p style="font-weight: 400;">Chúng tôi sẽ không cung cấp thông tin cá nhân của bạn cho bất kỳ bên
                        thứ ba nào, trừ một số hoạt động cần thiết dưới đây:</p>
                    <ul>
                        <li style="font-weight: 400;">Các đối tác là bên cung cấp dịch vụ cho chúng tôi liên quan đến
                            thực hiện đơn hàng và chỉ giới hạn trong phạm vi thông tin cần<br>thiết cũng như áp dụng các
                            quy định đảm bảo an ninh, bảo mật các thông tin cá nhân.</li>
                        <li style="font-weight: 400;">Chúng tôi có thể sử dụng dịch vụ từ một nhà cung cấp dịch vụ là
                            bên thứ ba để thực hiện một số hoạt động liên quan đến sàn<br>giao dịch thương mại điện tử
                            Tiệm Kiết và khi đó bên thứ ba này có thể truy cập hoặc xử lý các thông tin cá nhân trong
                            quá trình cung cấp các dịch vụ đó. Chúng tôi yêu cầu các bên thứ ba này tuân thủ mọi luật lệ
                            về bảo vệ thông tin cá nhân liên quan và các yêu cầu về an ninh liên quan đến thông tin cá
                            nhân.</li>
                        <li style="font-weight: 400;">Các chương trình có tính liên kết, đồng thực hiện, thuê ngoài cho
                            các mục địch được nêu tại Mục 2 và luôn áp dụng các yêu<br>cầu bảo mật thông tin cá nhân.
                        </li>
                        <li style="font-weight: 400;"><span
                                style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Yêu
                                cầu pháp lý: Chúng tôi có thể tiết lộ các thông tin cá nhân </span><span
                                style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">nếu
                                điều đó do luật pháp yêu cầu và việc tiết lộ như vậy là cần </span><span
                                style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">thiết
                                một cách hợp lý để tuân thủ các quy trình pháp lý.</span></li>
                        <li style="font-weight: 400;"><span
                                style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Chuyển
                                giao kinh doanh (nếu có): trong trường hợp sáp nhập, </span><span
                                style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">hợp
                                nhất toàn bộ hoặc một phần với công ty khác, người mua </span><span
                                style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">sẽ
                                có quyền truy cập thông tin được chúng tôi lưu trữ, duy trì </span><span
                                style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">trong
                                đó bao gồm cả thông tin cá nhân.</span></li>
                    </ul>
                    <p><span
                            style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"><strong>6.</strong>
                        </span><strong
                            style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">An
                            Toàn Dữ Liệu</strong></p>
                    <p><span
                            style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Chúng
                            tôi luôn nỗ lực để giữ an toàn thông tin cá nhân của khách hàng, chúng tôi đã và đang thực
                            hiện nhiều biện pháp an toàn, bao gồm:</span></p>
                    <ul>
                        <li><span
                                style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Bảo
                                đảm an toàn trong môi trường vận hành: chúng tôi lưu trữ không tin cá nhân khách hàng
                                trong môi trường vận hành an toàn<br>và chỉ có nhân viên, đại diện và nhà cung cấp dịch
                                vụ có thể truy cập trên cơ sở cần phải biết. Chúng tôi tuân theo các tiêu
                                chuẩn<br>ngành, pháp luật trong việc bảo mật thông tin cá nhân kháchhàng.</span></li>
                        <li><span
                                style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Trong
                                trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất mát dữ liệu cá nhân
                                khách hàng, chúng tôi sẽ có<br>trách nhiệm thông báo vụ việc cho cơ quan chức năng để
                                điều tra xử lý kịp thời và thông báo cho khách hàng được biết.</span></li>
                        <li><span
                                style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Các
                                thông tin thanh toán: được bảo mật theo tiêu chuẩn ngành.</span></li>
                    </ul>
                    <p><span
                            style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"><strong>7.</strong>
                            <strong>Quyền Của Khách Hàng Đối Với Thông Tin Cá Nhân</strong></span></p>
                    <p><span
                            style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Khách
                            hàng có quyền cung cấp thông tin cá nhân cho chúng tôi và có thể thay đổi quyết định đó vào
                            bất cứ lúc nào.<br>Khách hàng có quyền tự kiểm tra, cập nhật, điều chỉnh thông tin cá nhân
                            của mình bằng cách đăng nhập vào tài khoản và chỉnh sửa thông tin cá<br>nhân hoặc yêu cầu
                            chúng tôi thực hiện việc này.</span></p>
                    <p><strong><span
                                style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">8</span></strong><strong
                            style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">.
                            Thông tin liên hệ</strong></p>
                    <p style="font-weight: 400;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -
                        Cửa Hàng Tiệm Kiết</p>
                    <p style="font-weight: 400;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -
                        Địa chỉ: 69/1/7 Nguyễn Gia Trí, P. 25, Bình Thạnh, TP. HCM</p>
                    <p style="font-weight: 400;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -
                        Hotline: 0𝟽𝟽𝟽𝟿𝟼𝟻𝟸𝟸𝟽</p>
                    <p style="font-weight: 400;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -
                        Email:&nbsp;<a class="cursor-pointer"
                            href="mailto:tiemkietnb@gmail.com">tiemkietnb@gmail.com</a></p>
                </div>
            </div>
        </section>

    </main>
