@model TiemKiet.ViewModel.DistrictInfoVM
@{
    ViewData["Title"] = "Tạo quận/huyện";
}

<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Add Subject</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="District" asp-area="Admin">Danh sách quận/huyện</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form asp-action="Create" asp-controller="District" asp-area="Admin">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Điền thông tin quận/huyện</span></h5>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Tên quận/huyện <span class="text-danger">*</span></label>
                                    <input asp-for="DistrictName" class="form-control">
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Chọn Tỉnh/Thành Phố<span class="text-danger">*</span></label>
                                    <select asp-for="ProvinceId" class="form-control select" asp-items="ViewBag.ProvinceLst" required>
                                        <option value="">Chọn tỉnh/thành phố</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="student-submit">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
