@model ICollection<TiemKiet.Models.Province>
@{
    ViewData["Title"] = "Danh sách thành phố/tỉnh";
}
<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Blog</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Blog" asp-area="Admin">Dashboard</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="student-group-form">
        <form class="row">
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search by ID ...">
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search by Name ...">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="search-student-btn">
                    <button type="button" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">

                    <div class="page-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="page-title">Subjects</h3>
                            </div>
                            <div class="col-auto text-end float-end ms-auto download-grp">
                                <a href="#" class="btn btn-outline-primary me-2">
                                    <i class="fas fa-download"></i> Download
                                </a>
                                <a class="btn btn-primary" asp-controller="Province" asp-action="Create" asp-area="Admin">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped" style="width:100%">
                            <thead>
                                <tr role="row">
                                    <th>ID</th>
                                    <th>Tên Thành phố/Tỉnh</th>
                                    <th>Quốc gia</th>
                                    <th>Trạng Thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr role="row">
                                        <td>@item.Id</td>
                                        <td>
                                            <a>@(item.CityName ?? "")</a>
                                        </td>
                                        <td>
                                            @{
                                                if (item.Country != null)
                                                    @(item.Country.CountryName ?? "")
                                            }
                                        </td>
                                        <td>
                                            @{
                                                if (item.IsRemoved)
                                                {
                                                    <span class="badge bg-primary-dark">Không hoạt động</span>
                                                }
                                                else
                                                {
                                                    <span class="badge bg-primary-light">Hoạt động</span>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
